#container{
	background-color: white;
}

.barChartSort{
	background-color: white;
}

#resetButton, #sortButton{
	width:100px;
	padding-left: 10px;
}


.top {
    display:flex;
	flex-direction: column;
}